<h2 class="header">Search</h2>
<div class="sform">
  <form method="post" role="form" action="/results">
    <div class="tfield">
      <p>Enter Search term:</p>
      <input class="form-control:t" type="text" name="searchvalue" autofocus="autofocus"/>
      <div class="sbut">
        <input class="searchbutton:s" type="submit"  value="Search"/>
      </div>
    </div>
</div>
