<h2 class="header">Info</h2>
<div class="infotitle">
  <p><strong>
      {{.Title}}
  </strong></p>
</div>
<div class="infothumb">
  <img src={{.Thumbnail}} alt="thumbnail"><source/></img>
</div>
<div class="infoform">
  <form class="form-inline" action={{.DownloadUrl}} role="form" method="post">
    <div class="form-group">

    </div>
  </form>

</div>
<div class="iplayerinfo">
  <p>{{.Description}}</p>
</div>
