<!DOCTYPE html>
<html lang="en">
    <head>
      <title>Beebster - {{.Pagetitle}}
      </title>
      <link href="bootstrap.min.css" rel="stylesheet"/>
      <link href="beebster.css" rel="stylesheet"/>
    </head>
    <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-inner">
         <div class="container-fluid">
              <ul class="nav navbar-nav navbar-left">
                            <li class="active">
                              <a href="/about">About</a>
                            </li>
                            <li class="active">
                              <a href="/">Search</a>
                            </li>
                            <li class="active">
                              <a href="/categories?category=popular">popular</a>
                            </li>
                            <li class="active">
                              <a href="/categories?category=highlights">highlights</a>
                            </li>
                            <li class="active">
                              <a href="/categories?category=films">films</a>
                            </li>
                            <li class="active">
                              <a href="/categories?category=nature">nature</a>
                            </li>
                            <li class="active">
                              <a href="/categories?category=crime">crime</a>
                            </li>
                            <li class="active">
                              <a href="/categories?category=sitcom">sitcom</a>
                            </li>
                            <li class="active">
                              <a href="/categories?category=sport">sport</a>
                            </li>
                            <li class="active">
                              <a href="/categories?category=thriller">thriller</a>
                            </li>
                            <li class="active">
                              <a href="/categories?category=legal">legal</a>
                            </li>
              </ul>
         </div>
    </div>
    </nav>
    {{ yield }}
    </body>
</html>
